{
  "sourceMaps": true,
  "compact": true,
  "comments": false,
  "presets": ["es2015"],
  "plugins": [
    "transform-es2015-modules-umd",
    "transform-object-rest-spread",
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
